/* ------------Genarics---------------- */
@font-face { font-family: NerkoOne; src: url('NerkoOne-Regular.ttf'); } 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #393E46;
    font-family: NerkoOne;
}

body
{
    background-color: #F7F7F7;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
button
{

    padding: 10px 20px;
    border-radius: 20px;
    width: 150px;
    background-color: #EEEEEE;
    border-color: #929AAB;
}
button:hover
{
background-color:#929AAB ;
border-color: #EEEEEE;
}


/* --------------------------- */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 4vw;
    font-weight: bold;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    gap: 100px;

}


.buttonscontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: space-between;
    padding: 20px;
}
#colorpicker
{
    padding:0px;
    width: 150px;
    height: 50px;
    background-color: #EEEEEE;
    border-color: #929AAB;
}
#gridContainer {
    display: grid;
    flex-shrink: 0;
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    padding: 10px;
}
.cell
{
    align-self: stretch;
}
.bordercell
{
    color: #929AAB;
    border: solid;
    border-width: 0.1px;
}
#slider
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

@media (max-width: 750px){
.body{
    flex-wrap: wrap;
}
    .buttonscontainer
    {
        order: 2;
    }
}