* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #82C3EC;
}
body
{
    background-color: #472183;
    background-color: #472183;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
button
{

    padding: 10px 20px;
    border-radius: 20px;
    width: 150px;

}
.COLORS{
   color:#472183;
    color:#4B56D2;
    color: #82C3EC;
    color: #F1F6F5;
}
.header {
    background-color:#472183;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 4vw;
    font-weight: bold;
}

.body {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #472183;
    flex: 1;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #472183;
    width: 200PX;
}
.buttonscontainer
{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.coantintcontaner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gridContainer {
    display: grid;
    background-color: white;
    margin: 40px;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    padding: 10px;

}
.cell
{
    color: black;
    border-color: black;
    border: solid;
    align-self: stretch;
    border-width: 0.5px;
}
#slider
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #472183;
}

